<div class="container mt-5">
  <% if @user.photo.attached? %>
    <%= image_tag @user.photo.key, class: "avatar-large" %>
  <% elsif @user.gender == "0" %>
    <%= image_tag "https://w0.pngwave.com/png/129/94/computer-icons-avatar-icon-design-male-teacher-png-clip-art-thumbnail.png", class: "avatar-large" %>
  <% else %>
    <%= image_tag "https://rajcooling.com/wp-content/uploads/sites/270/2016/05/avatar.png", class: "avatar-large" %>
  <% end %>
  <%= @user.firstname %>
  <%= @user.lastname %>
  <%= @user.age %>
  <%= @user.gender %>
</div>
